.leftBar {
    transition: background-color 0.3s ease, color 0.3s ease;
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: var(--bg);
    color: var(--textColor);

    &::-webkit-scrollbar {
        display: none;
    }

    .container {
        padding: 20px;

        hr {
            margin: 20px 0px;
            border: none;
            height: 0.5px;
            background-color: var(--border);
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 12px;
                color: var(--textColorSoft);
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    font-size: 14px;
                    color: var(--textColor);
                }
            }

            .item {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: var(--bgSoft);
                }

                img {
                    width: 30px;
                }

                span {
                    font-size: 14px;
                    color: var(--textColor);
                }
            }
        }
    }

}